@model IEnumerable<SommarkuleAlliansen.ViewModel.ChildGroupVM>

@{
    ViewBag.Title = "Gruppdetaljer";
}
<div class="standardStyle">
    <table class="table">
        <tr>
            <th style="border:none;">
                För- och Efternamn
            </th>
            <th style="border:none;">
                Kommentar
            </th>
            <th style="border:none;">
                Födelsedatum
            </th>
            <th style="border:none;">
                Närvaro
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.name, "DetailsChild", "Admin", new { id = item.child_id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comment)
                </td>
                <td>
                    @String.Format("{0:yyyy/MM/dd}", item.birth_date)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.present)
                </td>
            </tr>
        }

    </table>
</div>