
@{
    ViewBag.Title = "LogIn";
}
<center>
    <div style="border-style: solid; margin-top: 25px; padding: 2% 22% 2% 22%; background-color:white;">
        <label>Användarnamn</label>
        <br />
        <input type="text" />
        <br />
        <label style="margin-top: 1%;">Lösenord</label>
        <br />
        <input type="password" />
        <br />
        <button style="margin-top: 1%;">Logga in</button>
    </div>
</center>