@{
    ViewBag.Title = "About";
}

<div style="border-radius:5px; background-color:white; padding:10px; margin-top:5%;">
    <label>Period</label> <br />
    <select>
        <option></option>
    </select>
    <h3>Barnets Uppgifter</h3>
    <label>Barnets Namn:</label> <br />
    <input type="text" name="Name" /> <br />
    <label>Födelsedatum:</label> <br />
    <input type="datetime" name="Birth" /> <br />
    <label>Tröjstorlek:</label> <br />
    <select>
        <option></option>
    </select> <br />
    <label>Simkunnig</label> <br />
    <input type="radio" name="CanSwim" /> <br />
    <input type="radio" name="CanSwim" /> <br />
    <label>Tillåt att barnet är med på foton</label> <br />
    <input type="radio" name="Photo" /> <br />
    <input type="radio" name="Photo" /> <br />
    <label>Barnet vaccinerat mot stelkramp</label> <br />
    <input type="radio" name="Vaccinated" /> <br />
    <input type="radio" name="Vaccinated" /> <br />
    <label>Annan information som kan vara nödvändig för sommarkulans ledare</label> <br />
    <textarea></textarea> <br />
    <h3>Vårdnadshavarens Uppgifter</h3>
    <label>Namn</label> <br />
    <input type="text" name="VName" /> <br />
    <label>Adress</label> <br />
    <input type="text" name="VAddress" /> <br />
    <label>Mailadress</label> <br />
    <input type="email" name="VEmail" /> <br />
    <label>Mobilnr (eller annat telenr där du kan kontaktas dagtid)</label> <br />
    <input type="number" name="VNumber" /> <br />
    <label>Alternativ kontaktperson (annan målsman/mor- eller farförälder)</label> <br />
    <input type="text" name="AltVName" /> <br />
    <label>Telenr till alternativ kontaktperson</label> <br />
    <input type="number" name="AltVNumber" /> <br />
    <h4>Informationen kommer att skickas som en bekräftelse till din mail.</h4>
    <input type="button" value="Skicka"/>
</div>
