@model SommarkuleAlliansen.Models.caretaker
@{
    ViewBag.Title = "Genomförd bokning";
}

<div class="standardStyle">
    <h2>Tack för din anmälan</h2>
    <p>@Model.caretaker_name, din anmälan har nu blivit registrerad och en bekräftelse har skickats till @Model.caretaker_email. Där finns mer information om sista betalningsdatum.</p>
</div>
