
@{
    ViewBag.Title = "ConfirmedOrder";
}

<h2>ConfirmedOrder</h2>
<div style="border-radius:5px; background-color:white; padding:10px; margin-top:5%;">
    <p>LoL Thx for order xDDDD SCAMAZ</p>
</div>
