@{
    ViewBag.Title = "Contact";
}

<div style="border-style: solid; padding-top: 2%; margin-top: 25px; background-color:white; height: 500px;">
    <div style="float: left; width: 500px;">
        <center>
            <h2>Kontaktformulär</h2>
            <p>Om du vill komma i kontakt med oss på Sommarkulan så använd vidstående formulär för att skicka din fråga så kontaktar vi dig.</p>
        </center>
    </div>
    <div style="float: left; width: 600px;">
        <label>Namn:</label>
        <br />
        <input type="text" style="width: 100%; height: 30px;"/>
        <br />
        <label>Email:</label>
        <br />
        <input type="text" style="width: 100%; height: 30px;"/>
        <br />
        <label>Meddelande:</label>
        <br />
        <textarea style="width: 100%; height: 180px;"></textarea>
        <button>Skicka meddelandet</button>
    </div>
</div>