
@{
    ViewBag.Title = "404 Error";
}
<center>
    <div class="standardStyle">
        <h1><b>Error 404</b></h1>
        <h3>
            Den här sidan är inte tillgänglig<br />
            Länken kanske är trasig eller sidan kan ha tagits bort.
        </h3>
    </div>
</center>

