@{
    ViewBag.Title = "Home Page";
}
<center>
    <div style="border-style: solid; margin-top: 25px">
        <h2>Årets Sommarkula 2019</h2>
        <h3>Vecka 25 (17/6 - 20/6) och Vecka 26 (24/6 - 28/6)</h3>
        <p>info</p>
    </div>
</center>