@{
    ViewBag.Title = "Home Page";
}
<center>
    <div style="border-style: solid; margin-top: 25px; padding: 0px 22% 1% 22%; background-color:white;">
        <h2>Årets Sommarkula 2019</h2>
        <h3>Vecka 25 (17/6 - 20/6) och Vecka 26 (24/6 - 28/6)</h3>
        <p>
            Ett härligt sommarlovsäventyr med bad, lek och idrott för barn i årskurs 1-6! Du möter nya kompisar, har kul, massor av bad och får prova på olika aktiviteter!
            Anmälan för 2019 öppnar den 15 april
        </p>
        <div>
            <img src="~/Content/images/sisu.png" />
            <img src="~/Content/images/Stromsbro-Logo.png" />
            <img src="~/Content/images/HSK-logo.png" />
            <img src="~/Content/images/gavle_kommun.png" />
        </div>
    </div>
    <div style="border-style: solid; background-color:white; margin-top: 25px; height: 285px;">
        <h3>Viktiga Datum</h3>
        <br />
        <div style="float:left; width: 365px;">
            <div>
                <img src="~/Content/images/datepicture.png" />
            </div>
            <h4>Sista anmälningsdatumet</h4>
            <p>31 Maj, 2019</p>
            <p>Du anmäler ditt barn till Sommarkulan genom vårt anmälningsformulär som du tar dig till via länken ovan.</p>
        </div>
        
        <div style="float: left; width: 365px;">
            <div>
                <img src="~/Content/images/datepicture.png" />
            </div>
            <h4>Betala senast</h4>
            <p>14 Juni, 2019</p>
            <p>Avgiften till Sommarkulan betalar du till vårt bankgiro. Betalningsuppgifter hittar du i bekräftelsemailet som skickas efter din anmälan.</p>
        </div>
        
        <div style="float: left; width: 365px;">
            <div>
                <img src="~/Content/images/datepicture.png" />
            </div>
            <h4>Sista dag för avbokning</h4>
            <p>14 Juni, 2019</p>
            <p>Om ditt barn inte kan delta måste du avboka! Detta görs till respektive lokal förening senast 14/6!</p>
        </div>
    </div>
</center>