* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.bg-fixes {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.footerMargin {
    margin-bottom: 1px;
}
.box {
    float: left;
    width: 33.33%;
    padding: 20px;
}
@media screen and (max-width:767px){
    #One{
        width: 50%;
    }
    #Two{
        width: 50%;
    }
    #Three{
        width: 50%;
        float: none;
    }
}
@media screen and (max-width:430px){
    #One {
        float: none;
        width:100%;
    }
    #Two {
        float: none;
        width: 100%;
    }
    #Three {
        float: none;
        width: 100%;
    }
    #DivFooter {
        margin: 0 auto;
        clear: both;
    }
    #FooterFixerL {
        float:none;
        text-align: center;
        clear:both;
    }
    #FooterFixerR {
        float:none;
        text-align: center;
        clear: both;
    }
    .SwimmingKnowledge{
        padding-left:55px;
    }
}
#DivFooter {
    margin: 0 auto;
}

#FooterFixerL {
    float: left;
}
#FooterFixerR {
    margin-bottom: 5%; 
    float: right;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.standardStyle {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin-top: 5%;
    opacity: 0.9;
}
.detailsChild {
    border-radius: 5px;
    background-color: white;
    margin-right: 2%;
    width: 32%;
}
input, select, textarea {
    width: auto;
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.form-radio-css {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}
.form-radio-css:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}
.form-radio-css:hover {
    background-color: #f7f7f7;
}
.form-radio-css:checked {
    background-color: #f1f1f1;
}
.registerStyle {
    border-radius: 5px;
    background-color: lightblue;
    padding: 10px;
}
.contact {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.Contactcontainer {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin-top: 5%;
}
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.paddingLeft {
    padding-left: 15px;
}
.removeBorder {
    border: none;
}
.removeDisplay {
    display: none;
}
.removeMarginBottom {
    margin-bottom: 0px;
}